.taxcalculatorbody {
  margin: 6em;
  padding: 2em;
  border: 2px solid gainsboro;
}

.warning-sign {
  display: none;
  color: red;
  position: absolute;
  right: 8px;
  top: 30px;
  cursor: pointer;
  width: 34px;
  height: 34px;
  margin-top: 0.4em;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
}

.conversion {
  color: red;
}

.input-wrapper {
  position: relative;
  font-size: large;
  font-weight: 500;
  margin: 1em;
}

.question-mark {
  margin-left: 5px;
  cursor: help;
}

.tooltip-text {
  visibility: hidden;
  width: 20em;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 1em;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 40%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.question-mark:hover + .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.close-btn {
  background-color: blueviolet;
  margin-top: 1em;
  padding: 0.7em 3em;
  color: white;
}

.Calculate-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  font-size: x-large;
  height: 40vh;
  margin-top: 7em;
}

@media only screen and (max-width: 767px) {
  .taxcalculatorbody {
    display: flex;
    justify-content: center;
    margin: 2em;
    padding: 0em;
  }
}
